@model Collaboration

<div class="container">
	<div>
		<h1 class="d-inline">@Model.Person.Name Collaberations</h1>
	</div>
	<div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Film Title</th>
					<th>Role</th>
					<th>Collaboration Count</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var collaboration in Model.CollaborationList)
				{
					<tr>
						<td>
							<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@collaboration.Person.PersonId">
								@collaboration.Person.Name
							</a>
						</td>
						<td>@collaboration.Job.Title</td>
						<td>
							<a asp-controller="Person" asp-action="TwoPersonCollaboration" asp-route-id1="@collaboration.Person.PersonId" asp-route-id2="@Model.Person.PersonId">
								@collaboration.JobCount
							</a>							
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
