@model JobCount

<h2>Top 100 people with '@Model.Job.Title' credits</h2>

<table class="table">
	<thead>
		<tr>
			<th>Person</th>
			<th>Number of films</th>
			<th>Life</th>
			<th>Years active</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var personJob in Model.PersonJobs)
		{
			<tr>
				<td>
					<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@personJob.Person.PersonId">
						@personJob.Person.Name
					</a>
				</td>
				<td>@personJob.JobCount</td>
				<td>@personJob.Person.BirthYear - @personJob.Person.DeathYear</td>
				<td>@personJob.EarliestYear - @personJob.LatestYear</td>
			</tr>
		}
	</tbody>
</table>
