@model List<PersonFilm>
@{
	ViewData["Title"] = "People in Film";
}
<div class="sub-container">
	<div class="d-flex justify-content-between align-items-center">
		<h1>People</h1>
		<form asp-controller="Person" asp-action="PersonSearch" method="get" class="d-flex">
			<input type="text" name="query" class="form-control me-2" placeholder="Search People" required />
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
	@if (ViewBag.ResultData != null)
	{
		<p>@ViewBag.ResultData</p>
	}
	<div class="contentTable">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Debut Film</th>
					<th>Film credits</th>
					<th>Life</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var personFilm in Model)
				{
					@if (personFilm != null)
					{
						<tr>
							<td>
								<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@personFilm.Person.PersonId">
									@personFilm.Person.Name
								</a>
							</td>
							<td>
								<a asp-controller="Film" asp-action="FilmDetail" asp-route-id="@personFilm.Film.FilmId">
									@personFilm.Film.Title
								</a>
							</td>
							<td>@personFilm.Count</td>
							<td>@personFilm.Person.BirthYear - @personFilm.Person.DeathYear</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>