<div class="container">
	<div>
		<h1 class="d-inline">Collaberations between @Model[0].Person1.Name and @Model[0].Person2.Name</h1>
	</div>
	<div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Film Title</th>
					<th>Year</th>
					<th>Person / role</th>
					<th>Person / role</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var collaboration in Model)
				{
					<tr>
						<td>
							<a asp-controller="Film" asp-action="Film" asp-route-id="@collaboration.Film.FilmId">
								@collaboration.Film.Title
							</a>
						</td>
						<td>@collaboration.Film.Year</td>
						<td>
							<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@collaboration.Person1.PersonId">
								@collaboration.Person1.Name
							</a>
							&nbsp;(@collaboration.Job1.Title)
						</td>
						<td>
							<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@collaboration.Person2.PersonId">
								@collaboration.Person2.Name
							</a>
							&nbsp;(@collaboration.Job2.Title)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>