@{
	var collaborations = (List<TwoPersonCollaborationDetail>)Model; // Explicit cast
	var groupedCollaborations = collaborations
		.GroupBy(c => c.Film.Title)
		.Select(g => new
		{
			Film = g.First().Film, // Use first item for film details
			Person1Roles = string.Join(", ", g.Select(c => c.Job1.Title).Distinct()), // Merge unique roles
			Person2Roles = string.Join(", ", g.Select(c => c.Job2.Title).Distinct())  // Merge unique roles
		})
		.ToList();
}
<div class="container">
	<div>
		<h1 class="d-inline">Collaborations between @Model[0].Person1.Name and @Model[0].Person2.Name</h1>
	</div>
	<div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Film Title</th>
					<th>Year</th>
					<th>
						<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@Model[0].Person1.PersonId">
							@Model[0].Person1.Name
						</a>
					</th>
					<th>
						<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@Model[0].Person2.PersonId">
							@Model[0].Person2.Name
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var collaboration in groupedCollaborations)
				{
					<tr>
						<td>
							<a asp-controller="Film" asp-action="FilmDetail" asp-route-id="@collaboration.Film.FilmId">
								@collaboration.Film.Title
							</a>
						</td>
						<td>@collaboration.Film.Year</td>
						<td>@collaboration.Person1Roles</td>
						<td>@collaboration.Person2Roles</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>